Clase 3/songs_dataset/adele.txt
Clase 3/songs_dataset/al-green.txt
Clase 3/songs_dataset/alicia-keys.txt
Clase 3/songs_dataset/amy-winehouse.txt
Clase 3/songs_dataset/beatles.txt
Clase 3/songs_dataset/bieber.txt
Clase 3/songs_dataset/bjork.txt
Clase 3/songs_dataset/blink-182.txt
Clase 3/songs_dataset/bob-dylan.txt
Clase 3/songs_dataset/bob-marley.txt
Clase 3/songs_dataset/britney-spears.txt
Clase 3/songs_dataset/bruce-springsteen.txt
Clase 3/songs_dataset/bruno-mars.txt
Clase 3/songs_dataset/cake.txt
Clase 3/songs_dataset/dickinson.txt
Clase 3/songs_dataset/disney.txt
Clase 3/songs_dataset/dj-khaled.txt
Clase 3/songs_dataset/dolly-parton.txt
Clase 3/songs_dataset/dr-seuss.txt
Clase 3/songs_dataset/drake.txt
Clase 3/songs_dataset/eminem.txt
Clase 3/songs_dataset/janisjoplin.txt
Clase 3/songs_dataset/jimi-hendrix.txt
Clase 3/songs_dataset/johnny-cash.txt
Clase 3/songs_dataset/joni-mitchell.txt
Clase 3/songs_dataset/Kanye_West.txt
Clase 3/songs_dataset/kanye-west.txt
Clase 3/songs_dataset/kanye.txt
Clase 3/songs_dataset/lady-gaga.txt
Clase 3/songs_dataset/leonard-cohen.txt
Clase 3/songs_dataset/Lil_Wayne.txt
Clase 3/songs_dataset/lil-wayne.txt
Clase 3/songs_dataset/lin-manuel-miranda.txt
Clase 3/songs_dataset/lorde.txt
Clase 3/songs_dataset/ludacris.txt
Clase 3/songs_dataset/michael-jackson.txt
Clase 3/songs_dataset/missy-elliott.txt
Clase 3/songs_dataset/nickelback.txt
Clase 3/songs_dataset/nicki-minaj.txt
Clase 3/songs_dataset/nirvana.txt
Clase 3/songs_dataset/notorious_big.txt
Clase 3/songs_dataset/notorious-big.txt
Clase 3/songs_dataset/nursery_rhymes.txt
Clase 3/songs_dataset/patti-smith.txt
Clase 3/songs_dataset/paul-simon.txt
Clase 3/songs_dataset/prince.txt
Clase 3/songs_dataset/r-kelly.txt
Clase 3/songs_dataset/radiohead.txt
Clase 3/songs_dataset/rihanna.txt
Clase 3/songs_dataset.zip
Clase 4/songs_dataset/adele.txt
Clase 4/songs_dataset/al-green.txt
Clase 4/songs_dataset/alicia-keys.txt
Clase 4/songs_dataset/amy-winehouse.txt
Clase 4/songs_dataset/beatles.txt
Clase 4/songs_dataset/bieber.txt
Clase 4/songs_dataset/bjork.txt
Clase 4/songs_dataset/blink-182.txt
Clase 4/songs_dataset/bob-dylan.txt
Clase 4/songs_dataset/bob-marley.txt
Clase 4/songs_dataset/britney-spears.txt
Clase 4/songs_dataset/bruce-springsteen.txt
Clase 4/songs_dataset/bruno-mars.txt
Clase 4/songs_dataset/cake.txt
Clase 4/songs_dataset/dickinson.txt
Clase 4/songs_dataset/disney.txt
Clase 4/songs_dataset/dj-khaled.txt
Clase 4/songs_dataset/dolly-parton.txt
Clase 4/songs_dataset/dr-seuss.txt
Clase 4/songs_dataset/drake.txt
Clase 4/songs_dataset/eminem.txt
Clase 4/songs_dataset/janisjoplin.txt
Clase 4/songs_dataset/jimi-hendrix.txt
Clase 4/songs_dataset/johnny-cash.txt
Clase 4/songs_dataset/joni-mitchell.txt
Clase 4/songs_dataset/Kanye_West.txt
Clase 4/songs_dataset/kanye-west.txt
Clase 4/songs_dataset/kanye.txt
Clase 4/songs_dataset/lady-gaga.txt
Clase 4/songs_dataset/leonard-cohen.txt
Clase 4/songs_dataset/Lil_Wayne.txt
Clase 4/songs_dataset/lil-wayne.txt
Clase 4/songs_dataset/lin-manuel-miranda.txt
Clase 4/songs_dataset/lorde.txt
Clase 4/songs_dataset/ludacris.txt
Clase 4/songs_dataset/michael-jackson.txt
Clase 4/songs_dataset/missy-elliott.txt
Clase 4/songs_dataset/nickelback.txt
Clase 4/songs_dataset/nicki-minaj.txt
Clase 4/songs_dataset/nirvana.txt
Clase 4/songs_dataset/notorious_big.txt
Clase 4/songs_dataset/notorious-big.txt
Clase 4/songs_dataset/nursery_rhymes.txt
Clase 4/songs_dataset/patti-smith.txt
Clase 4/songs_dataset/paul-simon.txt
Clase 4/songs_dataset/prince.txt
Clase 4/songs_dataset/r-kelly.txt
Clase 4/songs_dataset/radiohead.txt
Clase 4/songs_dataset/rihanna.txt
Clase 4/songs_dataset.zip
